.aminai{
    font-size: 3rem;
    margin: 0 !important;
}

.khalatobon{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.appurjamai{
    font-size:1.5rem;
    text-align: center;
}
.mainkafdkj{
    display: flex;
}